#sorting-block {
  position  : absolute;
  width     : 1440px;
  height    : 50px;
  margin-top: 60px;


  .dropdown_settings {
    position   : absolute;
    width      : 600px;
    height     : 14px;
    margin-left: 375px;
  }

  button {
    border: none;
    color : #2F80ED;
  }
}
