#header {
  width: 1440px;
  left : 0px;

  #header-header {
    #logo {
      position: absolute;
      width   : 50px;
      height  : 50px;
      top     : 27.5px;
      left    : 400px;
    }

    input {
      position  : absolute;
      background: #EFEFEF;
      width     : 400px;
      height    : 19px;
      top       : 33px;
      left      : 450px;
    }

    .buttonAdmin {
      position     : absolute;
      color        : #2F80ED;
      border-radius: 0px 4px 4px 0px;
      width        : 80px;
      height       : 24px;
      top          : 65px;
      left         : 1200px;
    }

    .add-criterions-button {
      position     : absolute;
      background-image: url("../../../assets/search_settings.svg");
      filter       : drop-shadow(2px 0px 4px #2F80ED);
      border-radius: 5px;
      width        : 26px;
      height       : 26px;
      left         : 865px;
      top          : 32px;
      border-color: drop-shadow(2px 0px 4px #2F80ED);
      color: drop-shadow(2px 0px 4px #2F80ED);
      background-repeat: no-repeat;
      align-items: center;
      border: #EFEFEF;
      padding:0px 0px 0px 0px;
    }

    .logout {
      position     : absolute;
      color        : #2F80ED;
      border-radius: 0px 4px 4px 0px;
      width        : 80px;
      height       : 24px;
      top          : 88.2px;
      left         : 1200px;
    }

  }

  .nickname {
    position   : absolute;
    font-family: 'Roboto';
    font-style : normal;
    font-weight: 400;
    font-size  : 12px;
    line-height: 14px;
    text-align : right;
    color      : #4F4F4F;
    width      : 102px;
    height     : 15px;
    top        : 33px;
    left       : 1150px;

  }

  .user-photo {
    position: absolute;
    filter  : drop-shadow(2px 2px 4px rgba(47, 128, 237, 0.25));
    width   : 24px;
    height  : 24px;
    top     : 33px;
    left    : 1260px;
  }
}
